{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% if view_title %}
        <title>Notebook 2.0 - {{ view_title }}</title>
    {% else %}
        <title>Notebook 2.0</title>
    {% endif %}
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c5b0c59ad8.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    {% block content %}
            
    {% endblock content %}
</body>
</html>